/*************************
        GENERAL
*************************/
 header img {
    width: 100%;
    height: auto
}

/*************************
        HEADER
*************************/

header {
    background-color: #ffffff;
    height: 70px;
}

.search-bar {
    width: 100%;
    background-color: #e5e5e5;
}

.logo {
    padding-top: 12px;
    width: 70px;
}

header i {
    padding-right: 8px;
    padding-top: 28.5px;
}

/*************************
        ASIDE
*************************/

aside {
    background-image: url(./img/sidebar-bg.png);
    background-color: #051e34;
    width: 70px;
    flex-shrink: 0;
}

.wifi {
    flex-grow: 1;
}

/*************************
        MAIN
*************************/

main {
    overflow: auto;
    width: 100%;
}

.ms-container {
    height: calc(100vh - 70px);
}

.title {
    min-height: 250px;
    background-color: #1b72e8;
}

/*************************
        RESPONSIVE
*************************/

@media screen and (min-width: 992px) {
    aside {
        width: 150px;
    }
    .logo {
        padding-top: 22px;
        width: 150px;
    }
}