/*************************
        GENERAL
*************************/
 header img {
    width: 100%;
    height: auto
}

body {
    font-family: "Roboto", sans-serif;
}

/*************************
        HEADER
*************************/

header {
    background-color: #ffffff;
    height: 70px;
}

.search-bar {
    width: 100%;
    background-color: #e5e5e5;
}

.logo {
    padding-top: 12px;
    width: 70px;
}

header i {
    padding-top: 28.5px;
    cursor: pointer;
}

header i:not(:last-child){
    padding-right: 10px
}

.offcanvas.offcanvas-end {
    width: 100%;
}

.ms-alarm {
    color: #ff8f00;
}

/*************************
        ASIDE
*************************/

aside {
    background-image: url(./img/sidebar-bg.png);
    background-color: #051e34;
    width: 70px;
    flex-shrink: 0;
}

.wifi {
    flex-grow: 1;
}

.aside-div {
    cursor: pointer;
}

.ms-hover:hover {
    background-color: #ffffff81;
}

.pen:hover {
    background-color: #20101028;
}

/*************************
        MAIN
*************************/

main {
    overflow: auto;
    width: 100%;
}

.ms-container {
    height: calc(100vh - 70px);
}

.title {
    background-color: #1b72e8;
}

.text-bg-primary {
    background-color: #165bba !important;
}

.status {
    width: 20%;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
}

.fa-pen {
    font-size: 15px;
}

.fa-trash {
    font-size: 15px;
}
.pen {
    padding: 2px 6px;
    border: 1px solid black;
}
main i {
    cursor: pointer;
}
/*************************
        RESPONSIVE
*************************/
    

@media screen and (max-width:768px) {
    .table-elements {
        display:none;
    }
}


@media screen and (min-width:768px) {
    .status {
        width: 10%;
    }
    
    .date {
        width: 21%;
    }
    .offcanvas.offcanvas-end {
        width: 50%;
    }
}


@media screen and (min-width: 992px) {
    aside {
        width: 150px;
    }
    .logo {
        padding-top: 22px;
        width: 150px;
    }
    .title {
        min-height: 127px;
    }
    .home {
        margin-left: 3px;
    }
    .fa-chart-simple {
        margin-right: 5px;
    } 

    .fa-signal  {
        padding-left: 10px;
    }

    .fa-gear {
        margin-left: 10px;
    }
    .offcanvas.offcanvas-end {
        width: 40%;
    }
}


@media screen and (max-width: 992px) {
    .todo {
        margin-top: 1rem;
    }
}